## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="pheader" file="post_header.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    % if post.meta('keywords'):
    <meta name="keywords" content="${post.meta('keywords')|h}">
    % endif
    %if post.description():
    <meta name="description" content="${post.description()|h}">
    %endif
    <meta name="author" content="${post.author()|h}">
    %if post.prev_post:
        <link rel="prev" href="${post.prev_post.permalink()}" title="${post.prev_post.title()|h}" type="text/html">
    %endif
    %if post.next_post:
        <link rel="next" href="${post.next_post.permalink()}" title="${post.next_post.title()|h}" type="text/html">
    %endif
    % if post.is_draft:
        <meta name="robots" content="noindex">
    % endif
    ${helper.open_graph_metadata(post)}
    ${helper.twitter_card_information(post)}
    ${helper.meta_translations(post)}
</%block>

<%block name="content">
<div class="blog-post">
    ${pheader.html_post_header()}
    ${post.text()}

    <div class="callout">
    <ul class="menu simple">
    % if author_pages_generated:
        <li>Author: <a href="${_link('author', post.author())}">${post.author()|h}</a></li>
    % else:
        <li>Author: ${post.author()|h}</li>
    % endif
    <li>${helper.html_tags(post)}</li>

    % if post.meta('link'):
        <li><a href="${post.meta('link')}">${messages("Original site")}</a></li>
    % endif
    </ul>
    </div>
    ${helper.html_pager(post)}

</div>
</%block>